In [3]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

print(df.head(2))

df['Bonus'] = df['Salary'] * 0.1

average_salary = df['Salary'].mean()
print(average_salary)

filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
47500.0
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0